# Data Combination over Movie Data Sets (CSV Files)

The purpose of this notebook is to document the steps taken in order to generate movies_df and studios_df, which will be used for further analysis to make recommendations to Microsoft on where they could enter the original movie production business.

The scope of this excercise is the provided CSV Files:
- bom.Movie_gross.csv.gz
- rt.movie_info_tsv.gz
- rt.reviews.tsv.gz
- tmdb.movies.csv.gz
- tn.movie_budgets.csv.gz

<figure>
    <img src="Converging Arrows.png"
         alt="Let's synthesize some data"
         width="400"
         height="200">
    <figcaption><center><bold>Putting it all together</figcaption>
</figure>

From the EDA notebook:

The CSV files will contain the relevant financial data needed to make a recommendation to Microsoft. Our key metric will be profitability of movie titles, then profitability by genre, and then identifying people in the movie making labor force would be best for the job (using a mix of both movie profitability and critic reviews)

## Master Table Import: "tn.movie_budgets.csv.gz"

### *Basic Import*

For purposes of our combination, we will use 'tn.movie_budgets.csv.gz' as our beginning source of truth, as it contains the most relevant information we are looking to investigate (mainly, domestic and international box office sales and movie budget)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import string
punct = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{}~'

In [2]:
df_budgets = pd.read_csv("Raw Data/tn.movie_budgets.csv.gz")

In [3]:
df_budgets.head(2)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"

Converting the financial data into numbers, release_date info into datetime objects, and creating a 'year' column:

In [4]:
df_budgets['worldwide_gross'] = df_budgets['worldwide_gross'].str.replace('$', '').str.replace(',', '')
df_budgets['domestic_gross'] = df_budgets['domestic_gross'].str.replace('$', '').str.replace(',', '')
df_budgets['production_budget'] = df_budgets['production_budget'].str.replace('$', '').str.replace(',', '')

df_budgets['worldwide_gross'] = df_budgets['worldwide_gross'].astype(float)
df_budgets['domestic_gross'] = df_budgets['domestic_gross'].astype(float)
df_budgets['production_budget'] = df_budgets['production_budget'].astype(float)

df_budgets['release_date'] = pd.to_datetime(df_budgets['release_date'])

df_budgets['year'] = df_budgets['release_date'].dt.strftime('%Y')
df_budgets['year'] = df_budgets['year'].map(int)

Since we will be combining additional genre info based off of the title of the movie, we will normalize punctuation use by removing punctuation from all titles in this data source and later data sources:

In [5]:
transtab = str.maketrans(dict.fromkeys(punct, ''))

df_budgets['movie'] = '|'.join(df_budgets['movie'].tolist()).translate(transtab).split('|')

We will create a profit calculation, which is worldwide_gross minus the production budget. We will also create a column which calculates the percentage of profit margin

In [6]:
df_budgets['profit'] = df_budgets['worldwide_gross'] - df_budgets['production_budget']
df_budgets['profit_margin'] = (df_budgets['profit'] / df_budgets['worldwide_gross']) * 100

In [7]:
df_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,year,profit,profit_margin
0,1,2009-12-18,Avatar,425000000.0,760507625.0,2.776345e+09,2009,2.351345e+09,84.692106
1,2,2011-05-20,Pirates of the Caribbean On Stranger Tides,410600000.0,241063875.0,1.045664e+09,2011,6.350639e+08,60.733080
2,3,2019-06-07,Dark Phoenix,350000000.0,42762350.0,1.497624e+08,2019,-2.002376e+08,-133.703598
3,4,2015-05-01,Avengers Age of Ultron,330600000.0,459005868.0,1.403014e+09,2015,1.072414e+09,76.436443
4,5,2017-12-15,Star Wars Ep VIII The Last Jedi,317000000.0,620181382.0,1.316722e+09,2017,9.997217e+08,75.925058

## Master Table Import Filtering

A studio like Microsoft will likely put at least 100k into it's projects, so we will filter for budgets above $100k. They will likely not be interested in festivals or other distributions that will not have box office values, so we will filter out movies with zero box office sales. We also are only interested in more modern data, which we will define as anything that was produced later than the 2000's.

In [8]:
df_budgets = df_budgets[df_budgets['production_budget'] > 100000]
df_budgets = df_budgets[(df_budgets['domestic_gross'] > 1) | (df_budgets['worldwide_gross'] > 1)]
df_budgets = df_budgets[df_budgets['year'] > 2000]

We will need to join this table with other tables, however there are duplicate values in this data set as multiple movies can share the same title. For purposes of joining, we will join on a new column, movie_and_year, created below:

In [9]:
df_budgets['year'] = df_budgets['year'].map(str)
df_budgets['movie_and_year'] = df_budgets['movie'] + " - " + df_budgets['year']
df_budgets['year'] = df_budgets['year'].map(int)

In [10]:
df_budgets[df_budgets.duplicated(['movie_and_year'], keep=False)]

Empty DataFrame
Columns: [id, release_date, movie, production_budget, domestic_gross, worldwide_gross, year, profit, profit_margin, movie_and_year]
Index: []

The above confirms no duplicate values

## Appending Genre using additional IMDB Data

The SQL information which contains movie title and genres is insufficient at appending associate genres with a movie, so we will import additional data found on the IMBD website (https://datasets.imdbws.com/). These files are rather large so they will be ignored in git pushes

In [11]:
df_additional = pd.read_csv("Raw Data/title.basics.tsv.gz", sep='\t', encoding='latin1')
df_additional['primaryTitle'] = df_additional['primaryTitle'].map(str)
df_additional = df_additional[df_additional['titleType'] == 'movie']

C:\Users\moore\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
transtab = str.maketrans(dict.fromkeys(punct, ''))

df_additional['primaryTitle'] = '|'.join(df_additional['primaryTitle'].tolist()).translate(transtab).split('|')

Appending a movie_and_year column:

In [13]:
df_additional['startYear'] = pd.to_datetime(df_additional['startYear'], errors='coerce')
df_additional['year'] = df_additional['startYear'].dt.strftime('%Y')

df_additional['movie_and_year'] = df_additional['primaryTitle'] + " - " + df_additional['year']

df_additional = df_additional.fillna(0)
df_additional['year'] = df_additional['year'].map(int)

## Appending Genre using CSV Data

In [14]:
df_budgets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3815 entries, 0 to 5678
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 3815 non-null   int64
 1   release_date       3815 non-null   datetime64[ns]
 2   movie              3815 non-null   object
 3   production_budget  3815 non-null   float64
 4   domestic_gross     3815 non-null   float64
 5   worldwide_gross    3815 non-null   float64
 6   year               3815 non-null   int64
 7   profit             3815 non-null   float64
 8   profit_margin      3815 non-null   float64
 9   movie_and_year     3815 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(2)
memory usage: 327.9+ KB

In [15]:
df_budget_genre = df_budgets.merge(df_additional, how='left', left_on=['movie_and_year'], right_on=['movie_and_year'])

In [16]:
df_budget_genre.head(60)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,year_x,profit,profit_margin,movie_and_year,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,year_y
0,1,2009-12-18,Avatar,425000000.0,760507625.0,2.776345e+09,2009,2.351345e+09,84.692106,Avatar - 2009,tt0499549,movie,Avatar,Avatar,0,2009-01-01 00:00:00,\N,162,"Action,Adventure,Fantasy",2009.0
1,2,2011-05-20,Pirates of the Caribbean On Stranger Tides,410600000.0,241063875.0,1.045664e+09,2011,6.350639e+08,60.733080,Pirates of the Caribbean On Stranger Tides - 2011,tt1298650,movie,Pirates of the Caribbean On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,0,2011-01-01 00:00:00,\N,137,"Action,Adventure,Fantasy",2011.0
2,3,2019-06-07,Dark Phoenix,350000000.0,42762350.0,1.497624e+08,2019,-2.002376e+08,-133.703598,Dark Phoenix - 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2015-05-01,Avengers Age of Ultron,330600000.0,459005868.0,1.403014e+09,2015,1.072414e+09,76.436443,Avengers Age of Ultron - 2015,tt2395427,movie,Avengers Age of Ultron,Avengers: Age of Ultron,0,2015-01-01 00:00:00,\N,141,"Action,Adventure,Sci-Fi",2015.0
4,5,2017-12-15,Star Wars Ep VIII The Last Jedi,317000000.0,620181382.0,1.316722e+09,2017,9.997217e+08,75.925058,Star Wars Ep VIII The Last Jedi - 2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,2015-12-18,Star Wars Ep VII The Force Awakens,306000000.0,936662225.0,2.053311e+09,2015,1.747311e+09,85.097242,Star Wars Ep VII The Force Awakens - 2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,2018-04-27,Avengers Infinity War,300000000.0,678815482.0,2.048134e+09,2018,1.748134e+09,85.352522,Avengers Infinity War - 2018,tt4154756,movie,Avengers Infinity War,Avengers: Infinity War,0,2018-01-01 00:00:00,\N,149,"Action,Adventure,Sci-Fi",2018.0
7,8,2007-05-24,Pirates of the Caribbean At Worldâs End,300000000.0,309420425.0,9.634204e+08,2007,6.634204e+08,68.860947,Pirates of the Caribbean At Worldâs End - 2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,2017-11-17,Justice League,300000000.0,229024295.0,6.559452e+08,2017,3.559452e+08,54.264473,Justice League - 2017,tt0974015,movie,Justice League,Justice League,0,2017-01-01 00:00:00,\N,120,"Action,Adventure,Fantasy",2017.0
9,10,2015-11-06,Spectre,300000000.0,200074175.0,8.796209e+08,2015,5.796209e+08,65.894399,Spectre - 2015,tt2379713,movie,Spectre,Spectre,0,2015-01-01 00:00:00,\N,148,"Action,Adventure,Thriller",2015.0
10,11,2012-07-20,The Dark Knight Rises,275000000.0,448139099.0,1.084439e+09,2012,8.094391e+08,74.641268,The Dark Knight Rises - 2012,tt1345836,movie,The Dark Knight Rises,The Dark Knight Rises,0,2012-01-01 00:00:00,\N,164,"Action,Drama",2012.0
11,12,2018-05-25,Solo A Star Wars Story,275000000.0,213767512.0,3.931513e+08,2018,1.181513e+08,30.052383,Solo A Star Wars Story - 2018,tt3778644,movie,Solo A Star Wars Story,Solo: A Star Wars Story,0,2018-01-01 00:00:00,\N,135,"Action,Adventure,Sci-Fi",2018.0
12,13,2013-07-02,The Lone Ranger,275000000.0,89302115.0,2.600021e+08,2013,-1.499788e+07,-5.768370,The Lone Ranger - 2013,tt1210819,movie,The Lone Ranger,The Lone Ranger,0,2013-01-01 00:00:00,\N,150,"Action,Adventure,Western",2013.0
13,14,2012-03-09,John Carter,275000000.0,73058679.0,2.827781e+08,2012,7.778100e+06,2.750602,John Carter - 2012,tt0401729,movie,John Carter,John Carter,0,2012-01-01 00:00:00,\N,132,"Action,Adventure,Sci-Fi",2012.0
14,15,2010-11-24,Tangled,260000000.0,200821936.0,5.864772e+08,2010,3.264772e+08,55.667504,Tangled - 2010,tt0398286,movie,Tangled,Tangled,0,2010-01-01 00:00:00,\N,100,"Adventure,Animation,Comedy",2010.0
15,16,2007-05-04,SpiderMan 3,258000000.0,336530303.0,8.948602e+08,2007,6.368602e+08,71.168682,SpiderMan 3 - 2007,tt0413300,movie,SpiderMan 3,Spider-Man 3,0,2007-01-01 00:00:00,\N,139,"Action,Adventure,Sci-Fi",2007.0
16,17,2016-05-06,Captain America Civil War,250000000.0,408084349.0,1.140069e+09,2016,8.900694e+08,78.071511,Captain America Civil War - 2016,tt3498820,movie,Captain America Civil War,Captain America: Civil War,0,2016-01-01 00:00:00,\N,147,"Action,Adventure,Sci-Fi",2016.0
17,18,2016-03-25,Batman v Superman Dawn of Justice,250000000.0,330360194.0,8.675003e+08,2016,6.175003e+08,71.181566,Batman v Superman Dawn of Justice - 2016,tt2975590,movie,Batman v Superman Dawn of Justice,Batman v Superman: Dawn of Justice,0,2016-01-01 00:00:00,\N,151,"Action,Adventure,Sci-Fi",2016.0
18,19,2012-12-14,The Hobbit An Unexpected Journey,250000000.0,303003568.0,1.017004e+09,2012,7.670036e+08,75.417982,The Hobbit An Unexpected Journey - 2012,tt0903624,movie,The Hobbit An Unexpected Journey,The Hobbit: An Unexpected Journey,0,2012-01-01 00:00:00,\N,169,"Adventure,Fantasy",2012.0
19,20,2009-07-15,Harry Potter and the HalfBlood Prince,250000000.0,302089278.0,9.352138e+08,2009,6.852138e+08,73.268144,Harry Potter and the HalfBlood Prince - 2009,tt0417741,movie,Harry Potter and the HalfBlood Prince,Harry Potter and the Half-Blood Prince,0,2009-01-01 00:00:00,\N,153,"Action,Adventure,Family",2009.0
20,21,2013-12-13,The Hobbit The Desolation of Smaug,250000000.0,258366855.0,9.603669e+08,2013,7.103669e+08,73.968281,The Hobbit The Desolation of Smaug - 2013,tt1170358,movie,The Hobbit The Desolation of Smaug,The Hobbit: The Desolation of Smaug,0,2013-01-01 00:00:00,\N,161,"Adventure,Fantasy",2013.0
21,22,2014-12-17,The Hobbit The Battle of the Five Armies,250000000.0,255119788.0,9.455776e+08,2014,6.955776e+08,73.561134,The Hobbit The Battle of the Five Armies - 2014,tt2310332,movie,The Hobbit The Battle of the Five Armies,The Hobbit: The Battle of the Five Armies,0,2014-01-01 00:00:00,\N,144,"Adventure,Fantasy",2014.0
22,23,2017-04-14,The Fate of the Furious,250000000.0,225764765.0,1.234846e+09,2017,9.848463e+08,79.754565,The Fate of the Furious - 2017,tt4630562,movie,The Fate of the Furious,The Fate of the Furious,0,2017-01-01 00:00:00,\N,136,"Action,Crime,Thriller",2017.0
23,24,2006-06-28,Superman Returns,232000000.0,200120000.0,3.740851e+08,2006,1.420851e+08,37.982020,Superman Returns - 2006,tt0348150,movie,Superman Returns,Superman Returns,0,2006-01-01 00:00:00,\N,154,"Action,Adventure,Sci-Fi",2006.0
24,25,2017-05-26,Pirates of the Caribbean Dead Men Tell No Tales,230000000.0,172558876.0,7.882411e+08,2017,5.582411e+08,70.821112,Pirates of the Caribbean Dead Men Tell No Tale...,tt1790809,movie,Pirates of the Caribbean Dead Men Tell No Tales,Pirates of the Caribbean: Dead Men Tell No Tales,0,2017-01-01 00:00:00,\N,129,"Action,Adventure,Fantasy",2017.0
25,26,2008-11-14,Quantum of Solace,230000000.0,169368427.0,5.916921e+08,2008,3.616921e+08,61.128430,Quantum of Solace - 2008,tt0830515,movie,Quantum of Solace,Quantum of Solace,0,2008-01-01 00:00:00,\N,106,"Action,Adventure,Mystery",2008.0
26,27,2012-05-04,The Avengers,225000000.0,623279547.0,1.517936e+09,2012,1.292936e+09,85.177240,The Avengers - 2012,tt0848228,movie,The Avengers,The Avengers,0,2012-01-01 00:00:00,\N,143,"Action,Adventure,Sci-Fi",2012.0
27,28,2006-07-07,Pirates of the Caribbean Dead Manâs Chest,225000000.0,423315812.0,1.066216e+09,2006,8.412158e+08,78.897330,Pirates of the Caribbean Dead Manâs Chest - ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,2013-06-14,Man of Steel,225000000.0,291045518.0,6.679995e+08,2013,4.429995e+08,66.317341,Man of Steel - 2013,tt0770828,movie,Man of Steel,Man of Steel,0,2013-01-01 00:00:00,\N,143,"Action,Adventure,Sci-Fi",2013.0
29,30,2008-05-16,The Chronicles of Narnia Prince Caspian,225000000.0,141621490.0,4.173413e+08,2008,1.923413e+08,46.087290,The Chronicles of Narnia Prince Caspian - 2008,tt0499448,movie,The Chronicles of Narnia Prince Caspian,The Chronicles of Narnia: Prince Caspian,0,2008-01-01 00:00:00,\N,150,"Action,Adventure,Family",2008.0
30,31,2012-07-03,The Amazing SpiderMan,220000000.0,262030663.0,7.578903e+08,2012,5.378903e+08,70.972051,The Amazing SpiderMan - 2012,tt0948470,movie,The Amazing SpiderMan,The Amazing Spider-Man,0,2012-01-01 00:00:00,\N,136,"Action,Adventure,Sci-Fi",2012.0
31,32,2012-05-18,Battleship,220000000.0,65233400.0,3.134777e+08,2012,9.347772e+07,29.819573,Battleship - 2012,tt1440129,movie,Battleship,Battleship,0,2012-01-01 00:00:00,\N,131,"Action,Adventure,Sci-Fi",2012.0
32,33,2017-06-21,Transformers The Last Knight,217000000.0,130168683.0,6.028933e+08,2017,3.858933e+08,64.006900,Transformers The Last Knight - 2017,tt3371366,movie,Transformers The Last Knight,Transformers: The Last Knight,0,2017-01-01 00:00:00,\N,154,"Action,Adventure,Sci-Fi",2017.0
33,34,2015-06-12,Jurassic World,215000000.0,652270625.0,1.648855e+09,2015,1.433855e+09,86.960647,Jurassic World - 2015,tt0369610,movie,Jurassic World,Jurassic World,0,2015-01-01 00:00:00,\N,124,"Action,Adventure,Sci-Fi",2015.0
34,35,2012-05-25,Men in Black 3,215000000.0,179020854.0,6.542135e+08,2012,4.392135e+08,67.136110,Men in Black 3 - 2012,tt1409024,movie,Men in Black 3,Men in Black 3,0,2012-01-01 00:00:00,\N,106,"Action,Adventure,Comedy",2012.0
35,36,2009-06-24,Transformers Revenge of the Fallen,210000000.0,402111870.0,8.365197e+08,2009,6.265197e+08,74.895989,Transformers Revenge of the Fallen - 2009,tt1055369,movie,Transformers Revenge of the Fallen,Transformers: Revenge of the Fallen,0,2009-01-01 00:00:00,\N,149,"Action,Adventure,Sci-Fi",2009.0
36,37,2014-06-27,Transformers Age of Extinction,210000000.0,245439076.0,1.104039e+09,2014,8.940391e+08,80.978934,Transformers Age of Extinction - 2014,tt2109248,movie,Transformers Age of Extinction,Transformers: Age of Extinction,0,2014-01-01 00:00:00,\N,165,"Action,Adventure,Sci-Fi",2014.0
37,38,2006-05-26,XMen The Last Stand,210000000.0,234362462.0,4.592609e+08,2006,2.492609e+08,54.274361,XMen The Last Stand - 2006,tt0376994,movie,XMen The Last Stand,X-Men: The Last Stand,0,2006-01-01 00:00:00,\N,104,"Action,Adventure,Sci-Fi",2006.0
38,39,2010-05-14,Robin Hood,210000000.0,105487148.0,3.224590e+08,2010,1.124590e+08,34.875443,Robin Hood - 2010,tt0955308,movie,Robin Hood,Robin Hood,0,2010-01-01 00:00:00,\N,140,"Action,Adventure,Drama",2010.0
39,40,2005-12-14,King Kong,207000000.0,218080025.0,5.505174e+08,2005,3.435174e+08,62.399006,King Kong - 2005,tt0360717,movie,King Kong,King Kong,0,2005-01-01 00:00:00,\N,187,"Action,Adventure,Drama",2005.0
40,41,2007-12-07,The Golden Compass,205000000.0,70107728.0,3.672626e+08,2007,1.622626e+08,44.181623,The Golden Compass - 2007,tt0385752,movie,The Golden Compass,The Golden Compass,0,2007-01-01 00:00:00,\N,113,"Adventure,Family,Fantasy",2007.0
41,42,2018-02-16,Black Panther,200000000.0,700059566.0,1.348258e+09,2018,1.148258e+09,85.166046,Black Panther - 2018,tt1825683,movie,Black Panther,Black Panther,0,2018-01-01 00:00:00,\N,134,"Action,Adventure,Sci-Fi",2018.0
42,44,2018-06-15,Incredibles 2,200000000.0,608581744.0,1.242521e+09,2018,1.042521e+09,83.903689,Incredibles 2 - 2018,tt3606756,movie,Incredibles 2,Incredibles 2,0,2018-01-01 00:00:00,\N,118,"Action,Adventure,Animation",2018.0
43,45,2016-12-16,Rogue One A Star Wars Story,200000000.0,532177324.0,1.049103e+09,2016,8.491029e+08,80.936092,Rogue One A Star Wars Story - 2016,tt3748528,movie,Rogue One A Star Wars Story,Rogue One,0,2016-01-01 00:00:00,\N,133,"Action,Adventure,Sci-Fi",2016.0
44,46,2016-06-17,Finding Dory,200000000.0,486295561.0,1.021215e+09,2016,8.212152e+08,80.415489,Finding Dory - 2016,tt2277860,movie,Finding Dory,Finding Dory,0,2016-01-01 00:00:00,\N,97,"Adventure,Animation,Comedy",2016.0
45,47,2010-06-18,Toy Story 3,200000000.0,415004880.0,1.068880e+09,2010,8.688795e+08,81.288817,Toy Story 3 - 2010,tt0435761,movie,Toy Story 3,Toy Story 3,0,2010-01-01 00:00:00,\N,103,"Adventure,Animation,Comedy",2010.0
46,48,2013-05-03,Iron Man 3,200000000.0,408992272.0,1.215392e+09,2013,1.015392e+09,83.544407,Iron Man 3 - 2013,tt1300854,movie,Iron Man 3,Iron Man Three,0,2013-01-01 00:00:00,\N,130,"Action,Adventure,Sci-Fi",2013.0
47,49,2017-05-05,Guardians of the Galaxy Vol 2,200000000.0,389813101.0,8.623162e+08,2017,6.623162e+08,76.806653,Guardians of the Galaxy Vol 2 - 2017,tt3896198,movie,Guardians of the Galaxy Vol 2,Guardians of the Galaxy Vol. 2,0,2017-01-01 00:00:00,\N,136,"Action,Adventure,Comedy",2017.0
48,50,2004-06-30,SpiderMan 2,200000000.0,373524485.0,7.951107e+08,2004,5.951107e+08,74.846269,SpiderMan 2 - 2004,tt0316654,movie,SpiderMan 2,Spider-Man 2,0,2004-01-01 00:00:00,\N,127,"Action,Adventure,Sci-Fi",2004.0
49,51,2010-03-05,Alice in Wonderland,200000000.0,334191110.0,1.025491e+09,2010,8.254911e+08,80.497149,Alice in Wonderland - 2010,tt1014759,movie,Alice in Wonderland,Alice in Wonderland,0,2010-01-01 00:00:00,\N,108,"Adventure,Family,Fantasy",2010.0
50,51,2010-03-05,Alice in Wonderland,200000000.0,334191110.0,1.025491e+09,2010,8.254911e+08,80.497149,Alice in Wonderland - 2010,tt2049386,movie,Alice in Wonderland,Alice in Wonderland,0,2010-01-01 00:00:00,\N,99,"Fantasy,Musical",2010.0
51,52,2012-11-08,Skyfall,200000000.0,304360277.0,1.110527e+09,2012,9.105270e+08,81.990532,Skyfall - 2012,tt1074638,movie,Skyfall,Skyfall,0,2012-01-01 00:00:00,\N,143,"Action,Adventure,Thriller",2012.0
52,53,2013-06-21,Monsters University,200000000.0,268488329.0,7.435883e+08,2013,5.435883e+08,73.103397,Monsters University - 2013,tt1453405,movie,Monsters University,Monsters University,0,2013-01-01 00:00:00,\N,104,"Adventure,Animation,Comedy",2013.0
53,54,2013-03-08,Oz the Great and Powerful,200000000.0,234770996.0,4.903591e+08,2013,2.903591e+08,59.213560,Oz the Great and Powerful - 2013,tt1623205,movie,Oz the Great and Powerful,Oz the Great and Powerful,0,2013-01-01 00:00:00,\N,130,"Adventure,Family,Fantasy",2013.0
54,55,2014-05-23,XMen Days of Future Past,200000000.0,233921534.0,7.478628e+08,2014,5.478628e+08,73.257126,XMen Days of Future Past - 2014,tt1877832,movie,XMen Days of Future Past,X-Men: Days of Future Past,0,2014-01-01 00:00:00,\N,132,"Action,Adventure,Sci-Fi",2014.0
55,56,2014-05-02,The Amazing SpiderMan 2,200000000.0,202853933.0,7.089963e+08,2014,5.089963e+08,71.791110,The Amazing SpiderMan 2 - 2014,tt1872181,movie,The Amazing SpiderMan 2,The Amazing Spider-Man 2,0,2014-01-01 00:00:00,\N,142,"Action,Adventure,Sci-Fi",2014.0
56,57,2011-06-24,Cars 2,200000000.0,191450875.0,5.601554e+08,2011,3.601554e+08,64.295621,Cars 2 - 2011,tt1216475,movie,Cars 2,Cars 2,0,2011-01-01 00:00:00,\N,106,"Adventure,Animation,Comedy",2011.0
57,58,2010-12-17,Tron Legacy,200000000.0,172062763.0,4.000628e+08,2010,2.000628e+08,50.007844,Tron Legacy - 2010,tt1104001,movie,Tron Legacy,Tron,0,2010-01-01 00:00:00,\N,125,"Action,Adventure,Sci-Fi",2010.0
58,59,2009-11-13,2012,200000000.0,166112167.0,7.576777e+08,2009,5.576777e+08,73.603554,2012 - 2009,tt1190080,movie,2012,2012,0,2009-01-01 00:00:00,\N,158,"Action,Adventure,Sci-Fi",2009.0
59,60,2018-11-16,Fantastic Beasts The Crimes of Grindelwald,200000000.0,159555901.0,6.522201e+08,2018,4.522201e+08,69.335504,Fantastic Beasts The Crimes of Grindelwald - 2018,tt4123430,movie,Fantastic Beasts The Crimes of Grindelwald,Fantastic Beasts: The Crimes of Grindelwald,0,2018-01-01 00:00:00,\N,134,"Adventure,Family,Fantasy",2018.0

In [18]:
df_budget_genre.isna().sum()

id                      0
release_date            0
movie                   0
production_budget       0
domestic_gross          0
worldwide_gross         0
year_x                  0
profit                  0
profit_margin           0
movie_and_year          0
tconst               1019
titleType            1019
primaryTitle         1019
originalTitle        1019
isAdult              1019
startYear            1019
endYear              1019
runtimeMinutes       1019
genres               1019
year_y               1019
dtype: int64

In [20]:
from pathlib import Path  
filepath = Path('financial_data.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_budget_genre.to_csv(filepath)